extends mainEmail

block content
  td.container
        .content
          // START CENTERED WHITE CONTAINER
          table.main(role='presentation')
            // START MAIN CONTENT AREA
            tr
              td.wrapper
                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                  tr
                    td
                      p Hi #{firstName},
                      p
                        | Welcome to maveenFleet, you are a step closer to your dreams
                      table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                          tr
                            td(align='left')
                              table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                tbody
                                  tr
                                    td
                                      a(href=`${url}`) Continue 
                      p
                        | We are motivated to put you on the right path 
                      p Good luck! 
            // END MAIN CONTENT AREA
          // END CENTERED WHITE CONTAINER